{{ define "header" }}
<header class="HeaderContainer">
  <div class="Header-Background">
    <div class="Header-BackgroundInner">
      {{ partial "header.html" .}}
      <div id="SearchContainer"></div>
      <!-- {{ partial "search-tags-helper-text.html"}} -->
      {{ partial "USP.html" .}}
    </div>
  </div>
</header>
{{ end }}
{{ define "main" }}
  <div class="">
    <div style="display: none">
        <div id="tbp-app-wrapper"></div>
    </div>

    <article class="" style="padding: 1em; padding-top: 0; color: #414754;">
      <div class="" style="padding: 1em; padding-top: 0;">

        <div style="margin-bottom: 92px;">
          <h2>Von damals bis heute: Die beliebtesten Gesellschaftsspiele der Welt</h2>
          <div style="padding-top: 16px;">
            <h3></h3>
            Die Beliebtheit von Brett- und Gesellschaftsspielen hält sich seit Jahrzehnten außerordentlich stabil, trotz der wachsenden Konkurrenz durch Videospiele und Smartphonegames. Mehr als 80.000 Brettspiele listet die größte Spieledatenbank der Welt – BoardGameGeek – im Jahr 2019. Der Erfolg der Spiele liegt nicht allein in ihrer erstaunlichen Vielfalt, sondern auch darin, dass es diese traditionell analoge Freizeitbeschäftigung schafft Menschen aller Altersklassen und Geschlechter auf unterhaltende Art und Weise zusammenzubringen. Spieleabende mit der Familie oder Freunden versprechen eine gute Zeit. Sie entschleunigen den oft hektischen Alltag und ermöglichen einen Rückzug von unserem immer stärker digital dominierten Leben. Die folgende Recherche  zeigt die beliebtesten Gesellschaftsspiele der Welt und präsentiert sie in einem abschließenden Ranking.
            <br/>
            <br/>
            Der Blick auf die Historie der Gesellschaftsspiele zeigt, dass einige der populärsten Spiele der Gegenwart die Menschen seit nunmehr Jahrtausenden in ihren Bann ziehen. Schach, Dame und Backgammon haben nicht nur alle Epochen und Gesellschaftsformen überdauert, sie haben sich auch in allen Erdteilen als unterhaltsame Freizeitgestaltung entpuppt. Denn viele Gesellschaftsspiele funktionieren – wie kaum eine andere Spielware – universell und verbreiten Spielfreude auf der ganzen Welt. So überrascht  es auch nicht, dass sich besonders große Liebhaber einzelner Spielvarianten regelmäßig für Weltmeisterschaften zusammenfinden, um das jeweilige Lieblingsspiel gemeinsam zu zelebrieren. 
          </div>
        </div>

        <img src="/images/campaign_worldmap_games.png" alt="Spielzeug für zehnjähriges Kind" style="max-width: 100%;">

        <div style="padding-top: 16px;">
          <h3></h3>
          Das bekannteste deutsche Brettspiel “Mensch, ärgere Dich nicht” kennt man in anderen Ländern der Welt unter verschiedenen Namen. Kommt die niederländische Version “Mens erger je niet” dem deutschen Namen noch recht nah, kennt man das klassische Brettspiel in englischsprachigen Ländern als “Sorry!” oder “Trouble” und in Indien unter dem Namen “Pachisi”. Die Erfolgsgeschichte vieler Spiele basiert auf der Möglichkeit sie auf der ganzen Welt, kulturell unabhängig, adaptierten zu können. Einen Würfel oder ein paar Spielsteine, mehr braucht es für die erfolgreichsten Spiele selten. Die folgende Übersicht zeigt den Ursprung der zehn beliebtesten Gesellschaftsspiele. 
          <br/>
          <br/>
          <div style="display: flex; flex-direction: row;">
            <div style="width: 50%">
              <div style="display: flex; flex-direction: column; justify-content: center;">
                <p style="margin: 0.5em;">1. Dame, ehem. Mesopotamien</p>
                <p style="margin: 0.5em;">2. Backgammon, Naher Osten</p>
                <p style="margin: 0.5em;">3. Schach, Indien</p>
                <p style="margin: 0.5em;">4. UNO, USA</p>
                <p style="margin: 0.5em;">5. Mensch ärgere Dich nicht!, Deutschland</p>
              </div>
            </div>
            <div style="width: 50%">
              <div style="display: flex; flex-direction: column; justify-content: center;">
                <p style="margin: 0.5em;">6. Scrabble, USA</p>
                <p style="margin: 0.5em;">7. Spiel des Lebens, USA</p>
                <p style="margin: 0.5em;">8. Monopoly, USA</p>
                <p style="margin: 0.5em;">9. Cards Against Humanity, USA</p>
                <p style="margin: 0.5em;">10. Jenga, Ghana</p>
              </div>
            </div>
          </div>
        </div>

        
        <img src="/images/campaign_timeline_games.png" alt="Spielzeug für zehnjähriges Kind" style="max-width: 100%; margin: 32px 0;">

        <div style="">
          <h3></h3>
          Unglaublich, dass die bereits vor 5.000 Jahren gespielten Brettspiele Dame und Backgammon auch heute noch begeistern. Archäologen fanden ein entsprechend altes Backgammonbrett im heutigen Iran. Als eines der jüngsten Spiele des Rankings ist “Cards Against Humanity” gelistet. Die Vorversion hatten US-amerikanische Schüler entwickelt und zum kostenlosen Download ins Internet gestellt. Es kam so gut an, dass sie zur Verwirklichung eines marktreifen Produkts eine Fundraisingkampagne starteten. Innerhalb der ersten zwei Jahre wurden eine halbe Million Exemplare des Spiels verkauft und katapultieren das satirische Kartenspiel innerhalb von nur 8 Jahren in die Top 10 der beliebtesten Gesellschaftsspiele der Welt.
          <br/>
          <br/>
          <div style="display: flex; flex-direction: row;">
            <div style="width: 50%">
              <div style="display: flex; flex-direction: column; justify-content: center;">
                <p style="margin: 0.5em;">3.000 v. Chr.	Dame</p>
                <p style="margin: 0.5em;">3.000 v. Chr.	Backgammon</p>
                <p style="margin: 0.5em;">600 n. Chr.	Schach</p>
                <p style="margin: 0.5em;">1860	Spiel des Lebens</p>
                <p style="margin: 0.5em;">1907	Mensch ärgere Dich nicht!</p>
              </div>
            </div>
            <div style="width: 50%">
              <div style="display: flex; flex-direction: column; justify-content: center;">
                <p style="margin: 0.5em;">1935	Monopoly</p>
                <p style="margin: 0.5em;">1938	Scrabble</p>
                <p style="margin: 0.5em;">1971	UNO</p>
                <p style="margin: 0.5em;">1983	Jenga</p>
                <p style="margin: 0.5em;">2011	Cards Against Humanity</p>
              </div>
            </div>
          </div>
          
          
          <br/>
          <br/>
          <h3>Weltmeisterschaften</h3>
          Wer knobelt und würfelt sich am geschicktesten durch die Gesellschaftsspiele? Regelmäßig finden sich die leidenschaftlichsten Spieler und Spielerinnen der Welt in 8 Disziplinen – Backgammon, Dame, Scrabble, Monopoly, Agricola, Die Siedler von Catan und Carcassonne – zusammen, um gegeneinander anzutreten.  Als renommierteste aller Spiele-Meisterschaften, gilt die jährliche Schachweltmeisterschaft.
          <br/>
          <br/>
          <h3></h3>
          Obwohl die Freude an Brett- und Gesellschaftsspielen als geschlechterunabhängig gilt, nehmen Frauen deutlich seltener an Weltmeisterschaften teil. Von 136 Titeln in 8 Spiele-Disziplinen gingen, in den vergangenen 133 Jahren, nur 3 Titel an Frauen – erstaunlicherweise alle im Backgammon.

        </div>

        <div style="padding-top: 32px;">
          <h3>The Better Play präsentiert die 30 erfolgreichsten Gesellschaftsspiele der Welt:</h3>
          <p style="margin: 0.5em;">1.	Dame</p>
          <p style="margin: 0.5em;">2.	Backgammon</p>
          <p style="margin: 0.5em;">3.	Schach</p>
          <p style="margin: 0.5em;">4.	UNO</p>
          <p style="margin: 0.5em;">5.	Mensch ärgere Dich nicht</p>
          <p style="margin: 0.5em;">6.	Scrabble</p>
          <p style="margin: 0.5em;">7.	Spiel des Lebens</p>
          <p style="margin: 0.5em;">8.	Monopoly</p>
          <p style="margin: 0.5em;">9.	Cards Against Humanity</p>
          <p style="margin: 0.5em;">10.	Jenga</p>
          <p style="margin: 0.5em;">11.	Schiffe versenken</p>
          <p style="margin: 0.5em;">12.	Cluedo</p>
          <p style="margin: 0.5em;">13.	Trivial Pursuit</p>
          <p style="margin: 0.5em;">14.	Twister</p>
          <p style="margin: 0.5em;">15.	Pictionary</p>
          <p style="margin: 0.5em;">16.	Risiko</p>
          <p style="margin: 0.5em;">17.	Sequence</p>
          <p style="margin: 0.5em;">18.	Carcassonne</p>
          <p style="margin: 0.5em;">19.	Zug um Zug</p>
          <p style="margin: 0.5em;">20.	Dixit</p>
          <p style="margin: 0.5em;">21.	Axis and Allies</p>
          <p style="margin: 0.5em;">22.	Codenames</p>
          <p style="margin: 0.5em;">23.	Die Siedler von Catan</p>
          <p style="margin: 0.5em;">24.	Dobble</p>
          <p style="margin: 0.5em;">25.	Dominion</p>
          <p style="margin: 0.5em;">26.	7 Wonders: Duel</p>
          <p style="margin: 0.5em;">27.	Agricola</p>
          <p style="margin: 0.5em;">28.	Mysterium</p>
          <p style="margin: 0.5em;">29.	Jungle Speed</p>
          <p style="margin: 0.5em;">30.	Dead of Winter: A Cross Roads Game</p>
        </div>


        <div style="
          display: flex;
          margin-top: 128px;
          background-color: #f7f7fa;
          border-radius: 8px;
          padding: 0 24px 16px 24px;
          box-sizing: border-box;
          flex-direction: column;"
        >
          <h4>Methodik</h4>
          <div style="font-size: 14px;">
            Zu Beginn wurde eine Auswahl an Nachrichtenbeiträge über regional beliebte Gesellschaftsspiele in den Sprachen Deutsch, Französisch, Spanisch, Englisch, Vietnamesisch, Bulgarisch und in chinesischen Sprachen ausgewertet. Jedes einzelne erwähnte Spiel wurde gelistet und nach der Häufigkeit der Erwähnung sortiert. Auf diese Weise ergab sich eine allgemeine Liste aus 30 Brett- und Gesellschaftsspielen. Um das endgültige Ranking der beliebtesten Spiele zu ermitteln, wurden Punkte für folgende gleichwertige Kriterien vergeben: durchschnittliche Position in Google Trends (2018), seit wann es das Spiel gibt und die Verfügbarkeit einer digitalen Version.
            <br/>
            <br/>
            <b>Herkunft</b>: Angabe über das Land bzw. die Region in der das jeweilige Spiel erstmals erfunden oder entwickelt wurde. Die erste kommerzielle Produktionsstätte spiegelt nicht automatisch den eigentlichen Herkunftsort wider.
            <br/>
            <br/>
            <b>Jahr der Erfindung</b>: Angabe über das Jahr in dem das Spiel erfunden wurde oder einen Zeitraum für den erste Hinweise auf das entsprechende Spiel gefunden wurden. Das Jahr in dem das Spiel erfunden wurde spiegelt nicht automatisch das Jahr der Erfindung wieder.
          </div>
        </div>

      </div>
    </article>
  </div>
{{ end }}
{{ define "footer" }}
  {{ partial "link-list.html" . }}
  {{ partial "footer.html" . }}
{{ end }}
