{{ define "header" }}
<header class="HeaderContainer">
  <div class="Header-Background">
    <div class="Header-BackgroundInner">
      {{ partial "header.html" .}}
      <div id="SearchContainer"></div>
      {{ partial "search-tags-helper-text.html"}}
      {{ partial "USP.html" .}}
    </div>
  </div>
</header>
{{ end }}
{{ define "main" }}
  <div class="">
    <h1>{{ .Title }}</h1>
    <div id="tbp-app-wrapper"></div>
    <article class="">
      <div class="">
        {{ .Content }}
      </div>
    </article>
  </div>
{{ end }}
{{ define "footer" }}
  {{ partial "link-list.html" . }}
  {{ partial "footer.html" . }}
{{ end }}
