{{ define "header" }}
<header class="HeaderContainer">
  <div class="Header-Background">
    <div class="Header-BackgroundInner">
      {{ partial "header-landing.html" .}}
      <div id="SearchContainer"></div>
      {{/* {{ partial "search-tags-helper-text.html"}} */}}
      {{ partial "USP.html" .}}
    </div>
  </div>
</header>
{{ end }}
{{ define "main" }}
  <div class="">
    <div style="min-height: 100vh;">
        <div id="tbp-app-wrapper"></div>
    </div>

    <article class="" style="padding: 1em;">
      <div class="">
        {{ .Content }}
      </div>
    </article>
  </div>
{{ end }}
{{ define "footer" }}
  {{ partial "link-list.html" . }}
  {{ partial "footer.html" . }}
{{ end }}
