<footer class="FooterContainer bottom-0 w-100 pa3" role="contentinfo">
  <div class="Footer">
    <div class="Footer-Brand">
      <a href="{{ .Site.BaseURL }}" >
        <img class="FooterLogo" src="/images/logo.svg" alt="" />
      </a>
      <div class="Footer-Subtitle">
        {{ i18n "subtitle" }}
      </div>
    </div>
    <div class="Footer-Links">
      <div class="Footer-Copyright">
        Copyright &copy; {{ now.Format "2006" }}
      </div>
      <div class="Footer-LinkList">
        {{ if .Site.Menus.footer }}
            {{ range .Site.Menus.footer }}
              <div class="Footer-Link">
                <a class="" href="{{ .URL | relLangURL }}" title="{{ .Name }} page">
                  {{ .Name }}
                </a>
              </div>
            {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</footer>
