
/* this is to disable hover on scroll for perfs */
/* do not delete me but you can move me */
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

#SearchContainer {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 15px;
  min-height: 55px;
}

.DetailsPageHeader #SearchContainer {
  display: none;
}

.SearchPageHeader .Header-BackgroundInner {
  height: 100vh;
}


.HeaderContainer {
  background-image: linear-gradient(to top, #ff4572, #2a079b);
  position: relative;
}
.Header-Background::after {
  background: url("/images/pattern-confetti.png");
  background-repeat: repeat;
  content: "";
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.Header-BackgroundInner {
  z-index: 1;
  position: relative;
}

.Header {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.Header-Link {
  text-align: left;
}

.Header-Logo {
  width: 200px;
  min-height: 70px;
  outline: none;
}

.Header-Subtitle {
  color: white;
  margin: 0 auto;
  padding-bottom: 20px;
}

@media all and (max-width: 960px) {
  .Header-Link {
    text-align: center;
  }
  .Header-Subtitle {
    font-size: 10px;
  }
}

.HeaderMini {
  padding: 0 8px;
  display: flex;
}
.HeaderMini .Header-Subtitle {
  display: flex;
  align-self: flex-end;
  margin: 0;
  padding: 0;
}
.HeaderMini .Header-SubtitleText {
  display: flex;
  align-self: flex-end;
  margin-bottom: 18px;
  margin-left: 10px;
}
