#SearchContainer {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 15px;
  min-height: 50px;
}

.HeaderContainer {
  background-image: linear-gradient(to top, #ff4572, #2a079b);
}

.Header {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.Header-Link {
  text-align: left;
}

.Header-Logo {
  width: 200px;
  min-height: 70px;
  outline: none;
}

.Header-Subtitle {
  color: white;
  margin: 0 auto;
  padding-bottom: 20px;
}

@media all and (max-width: 960px) {
  .Header-Link {
    text-align: center;
  }
  .Header-Subtitle {
    font-size: 10px;
  }
}

.HeaderMini {
  display: flex;
}
.HeaderMini .Header-Subtitle {
  display: flex;
  align-self: flex-end;
  margin: 0;
  padding: 0;
}
.HeaderMini .Header-SubtitleText {
  display: flex;
  align-self: flex-end;
  margin-bottom: 18px;
  margin-left: 10px;
}
