.ShowDesktop {
  display: inherit;
}
.ShowMobile {
  display: none;
}

@media all and (max-width: 960px) {

  .ShowDesktop {
    display: none;
  }
  .ShowMobile {
    display: inherit;
  }


  .SearchPageHeader {
    height: 100vh;
  }

  .SearchPageHeader .Header {
    display: none;
  }

  .SearchPageHeader #SearchContainer {
    padding: 0;
  }

  .SearchPageHeader .SearchButtonContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
  }

  .SearchPageHeader .SearchButton {
    border-radius: 0;
  }

  .SearchPageFooter {
    display: none;
  }

  .ResultsPageContent {
    margin-top: 0!important;
  }

  .DetailsPageHeader #SearchContainer, .DetailsPageHeader .SearchContainer {
    display: none;
  }

  .USPContainer {
    height: 80px;
  }

  .USP {
    flex-direction: column;
    padding: 5px;
  }

  .USP p {
    color: #20282f;
  }

  .SuggestHelperText {
    display: none;
  }

  .Select, .Select-control {
    border-radius: 5px!important;
  }

  .ContactForm {
    width: 100%;
  }
  .ContactForm-Input, .ContactForm-Textarea, .ContactForm-Submit {
    width: 90%;
    margin: 0 auto;
  }

  .LinkList-Container {
    flex-direction: column;
  }

  .LinkList-Container .LinkList-Item {
    width: 100%;
  }
}
