<script src="{{ "app/static/js/1.52f37860.chunk.js" | absURL }}" async></script>
<script src="{{ "app/static/js/main.37abad36.chunk.js" | absURL }}" async></script>
<script src="{{ "app/static/js/runtime~main.229c360f.js" | absURL }}" async></script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXZ7F4G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{{/* this is to disable hover on script for perf  */}}
<script>
  var body = document.body,timer;
  window.addEventListener('scroll', function() {
     clearTimeout(timer);
    if(!body.classList.contains('disable-hover')) {
      body.classList.add('disable-hover')
    }
     timer = setTimeout(function(){
      body.classList.remove('disable-hover')
    },500);
  }, false);
</script>
