<div class="USPContainer">

  <div class="USP gallery items-3 ShowMobile">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>

    <figure class="item">
    <p class="USPHeader">{{ i18n "USP.quality"}}</p>
    <p class="USPSub">{{ i18n "USP.qualitySub"}}</p>
    </figure>

    <figure class="item">
    <p class="USPHeader">{{ i18n "USP.trust"}}</p>
    <p class="USPSub">{{ i18n "USP.trustSub"}}</p>
    </figure>

    <figure class="item">
    <p class="USPHeader">{{ i18n "USP.easy"}}</p>
    <p class="USPSub">{{ i18n "USP.easySub"}}</p>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
    </div>
  </div>

  <div class="USP ShowDesktop">
    <div class="USPUnit">
      <p class="USPHeader">{{ i18n "USP.quality"}}</p>
      <p class="USPSub">{{ i18n "USP.qualitySub"}}</p>
    </div>
    <div class="USPUnit">
      <p class="USPHeader">{{ i18n "USP.trust"}}</p>
      <p class="USPSub">{{ i18n "USP.trustSub"}}</p>
    </div>
    <div class="USPUnit">
      <p class="USPHeader">{{ i18n "USP.easy"}}</p>
      <p class="USPSub">{{ i18n "USP.easySub"}}</p>
    </div>
  </div>
</div>
